$black: rgb(30, 30, 30);
$green: rgb(116, 187, 2);
$base-font-size:   16px;
$base-line-height: 20px;
$sans-serif: "Helvetica Neue", sans-serif;
$serif: Georgia, serif;

@mixin font-body {
  font-family: $sans-serif;
  font-weight: 400;
}

@mixin font-headers {
  font-family: $serif;
  font-weight: 400;
}

html {
  background: {
    color: rgb(111, 37, 81);
  }
}

body {
  @include font-body;
  background: white;
  color: $black;
  font-size: $base-font-size;
  line-height: $base-line-height;
  margin: 0 auto;
  padding: $base-font-size*2;
  max-width: 60em;
  width: 95%;
}

h1 {
  @include font-headers;
  color: $green;
}


footer {
  border-top: 1px solid $black;

  p {
    font-size: $base-font-size*.8;

    a {
      color: $green;
    }

    &.legal {
      float: left;
    }

    &.contact {
      float: right;
    }
  }
}
